
% rebase('template/base1.html')
		<h3><b>Blog Foun</b></h3>
			<font color=#ff0000><BLINK>{{sala}}</BLINK></font>
			<form action="." method="POST">
				<table border="0">
					<tr>
						<td>Title:</td>
						<td class="auto-style3"><input name="title" type="text" value="{{ title }}" style="width: 572px" /></td>
					</tr>
					<tr>	
						<td class="auto-style1">Body:</td>
						<td class="auto-style4"><textarea name='body' style="height: 227px; width: 572px">{{ body }}</textarea></td>
					</tr>
					<tr>
						<td class="auto-style2"></td>
						<td align="right"><input type='submit' value='Haruka'></td>
					</tr>
				</table> 
			</form>
	
	