% rebase('template/base.html')
<h5><b>DEPARTAMENTO DE ENGENHARIA ELECTRONICA E ELECTRICA.</h5></b>
<html xmlns="http://www.w3.org/1999/xhtml">
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="WOW Slider, jQuery Image Carousel, Image Carousel jQuery" />
	<meta name="description" content="WOWSlider created with WOW Slider, a free wizard program that helps you easily generate beautiful web slideshow" />
	<!-- Start WOWSlider.com HEAD section -->
	<link rel="stylesheet" type="text/css" href="/static/engine1/style.css" />
	<script type="text/javascript" src="/static/engine1/jquery.js"></script>
	<!-- End WOWSlider.com HEAD section -->
</head>
<body style="background-color:#d7d7d7">
	<!-- Start WOWSlider.com BODY section -->
	<div id="wowslider-container1">
	<div class="ws_images"><ul>
<li><img src="/static/data1/images/tl_map.jpg" alt="TL Map" title="TL Map" id="wows1_0"/></li>
<li><img src="/static/data1/images/mapa_ligao_eltrica_tl.jpg" alt="Mapa ligação elétrica TL" title="Mapa ligação elétrica TL" id="wows1_1"/></li>
<li><img src="/static/data1/images/hera_power_plan..jpg" alt="Hera Power Plan." title="Hera Power Plan." id="wows1_2"/></li>
<li><img src="/static/data1/images/betanu_power_plan..jpg" alt="Betanu Power Plan." title="Betanu Power Plan." id="wows1_3"/></li>
<li><img src="/static/data1/images/lihas_distribuicao.jpg" alt="LIHAS DISTRIBUICAO" title="LIHAS DISTRIBUICAO" id="wows1_4"/></li>
<li><img src="/static/data1/images/linhas_de_transmissao.jpg" alt="LINHAS DE TRANSMISSAO" title="LINHAS DE TRANSMISSAO" id="wows1_5"/>Tore</li>
<li><img src="/static/data1/images/linhas_de_baixa_tensao.jpg" alt="LINHAS DE BAIXA TENSAO" title="LINHAS DE BAIXA TENSAO" id="wows1_6"/></li>
<li><img src="/static/data1/images/linhas_de_transmissao_subestacao..jpg" alt="LINHAS DE TRANSMISSAO SUBESTACAO." title="LINHAS DE TRANSMISSAO SUBESTACAO." id="wows1_7"/></li>
<li><img src="/static/data1/images/estudante_eng._hera.jpg" alt="ESTUDANTE ENG. HERA" title="ESTUDANTE ENG. HERA" id="wows1_8"/>Foto pesquiza oleo pesado Hera.</li>
</ul></div>
<div class="ws_thumbs">
<div>
<a href="#" title="TL Map"><img src="/static/data1/tooltips/tl_map.jpg" alt="" /></a>
<a href="#" title="Mapa ligação elétrica TL"><img src="/static/data1/tooltips/mapa_ligao_eltrica_tl.jpg" alt="" /></a>
<a href="#" title="Hera Power Plan."><img src="/static/data1/tooltips/hera_power_plan..jpg" alt="" /></a>
<a href="#" title="Betanu Power Plan."><img src="/static/data1/tooltips/betanu_power_plan..jpg" alt="" /></a>
<a href="#" title="LIHAS DISTRIBUICAO"><img src="/static/data1/tooltips/lihas_distribuicao.jpg" alt="" /></a>
<a href="#" title="LINHAS DE TRANSMISSAO"><img src="/static/data1/tooltips/linhas_de_transmissao.jpg" alt="" /></a>
<a href="#" title="LINHAS DE BAIXA TENSAO"><img src="/static/data1/tooltips/linhas_de_baixa_tensao.jpg" alt="" /></a>
<a href="#" title="LINHAS DE TRANSMISSAO SUBESTACAO."><img src="/static/data1/tooltips/linhas_de_transmissao_subestacao..jpg" alt="" /></a>
<a href="#" title="ESTUDANTE ENG. HERA"><img src="/static/data1/tooltips/estudante_eng._hera.jpg" alt="" /></a>
</div>
</div>
<a class="wsl" href="http://wowslider.com">jQuery Carousel Image by WOWSlider.com v3.4</a>
	<div class="ws_shadow"></div>
	</div>
	<script type="text/javascript" src="/static/engine1/wowslider.js"></script>
	<script type="text/javascript" src="/static/engine1/script.js"></script>
	<!-- End WOWSlider.com BODY section -->
	
	<div class="panel-group" id="accordion"> 
		   <div class="panel panel-info"> 
			  <div class="panel-heading"> 
				 <h4 class="panel-title"> 
					<a data-toggle="collapse" data-parent="#accordion"  
					   href="#collapseexample"> 
					   Click iha ne'e, hodi hare'e tensão usina produzida Detaile >>>
					</a> 
				 </h4> 
			  </div> 
			  <div id="collapseexample" class="panel-collapse collapse"> 
				 <div class="panel-body"> 
					A tensão da usina produzido em Hera e Betano, 
					por volta de 15KV de tensão para transmitida a energia eléctrica para todo o território de Timor Leste.
				 </div> 
			  </div> 
		   </div> 
		</div> 
		<script type="text/javascript"> 
		   $(function () {  
			  $('#collapseexample').on('show.bs.collapse', function () { 
				 alert('Hey, this alert shows up when you expand it');}) 
		   }); 
		</script> 
</body>
</html>