% rebase('template/base.html')
		<!--<b></font><font color='#0000FF'><p>DATA: {{localtime}}</p></font></b>
		<div class='img-thumbnail'>
			<div class='img-thumbnail'>
				<a href='/static/images/AEDEEE.png'width="180px" height="130px"/>
				<img src='/static/images/AEDEEE.png'width="180px" height="130px"/>
			</div></a>
			<div class='img-thumbnail'>
				<a href='/static/images/ENG.jpg'width="180px" height="130px"/>
				<img src='/static/images/ENG.JPG'width="180px" height="130px"/>
			</div></a>
			<div class='img-thumbnail'>
				<a href='/static/images/UNTL.bmp'width="180px" height="130px"/>
				<img src='/static/images/UNTL.bmp'width="180px" height="130px"/></a>
			</div>
		</div> -->
		<h3><b>PROFILE UNTL :</b></h3>
			<div class='img-thumbnail'>
				<p>
				<img align="center" src='/static/images/UNTL.bmp'width="180px" height="130px"/>
					<li>Departamentu Engenharia Elektronika No Elektrika (DEEE), 
						Fakuldade Engenharia Ciensia No Teknologia (FECT),
						Hamahan a'an iha Universidade Nacional Timor Lorosae (UNTL), ne'ebe Hari'i mai husi Ensinu Superior rua (2)
						ne'ebe maka hari'i iha tempu governu Indonesia nian, hanesan Universidade Timor Timur (UNTIM) hahu husi 
						1986 - 1999 iha Dili, ho Politeknik Dili hahu husi 1990 - 1999 iha Hera.
					</li>
				</p>
				<hr width="100%" align="center">
					<li><p> Universidade Nacional Timor Lorosa'e loke oficialmente iha loron 17 fulan novembru 2000 ne'ebe maka inagura
					husi representante espesial ONU nian iha Timor Lorosa'e Administrador DR. Sergio Vieira de Mello, ho Presidente
					CNRT/CN tempu ne'eba Senor Kairala Xanana Gusmao.</p></li>
				<hr width="100%" align="center">
					<li><p> Hanesan Intituisaun Akademika, UNTL hala'o funsaun 3 (tolu) husi Ensinu Superior nian mak, Ciensia, Peskiza no Dedikasaun
					ba Komunidade. Funsaun 3 (tolu) ne'e hanesan fundamental atu dezenvolve rekursu ema nian tuir kapasidade no matenek ne'ebe
					maka iha no mos missaun ne'ebe nia lori.</p></li>
			</p>
			</div>
					
				