
% rebase('template/base1.html')
		<h3><b>Noticia Foun</b></h3>
			<font color=#ff0000><BLINK>{{sala}}</BLINK></font>
			<form action="." method="POST">  
				<table border="0">
						<td>Naran:</td>
						<td><input name="naran" type="text" value="{{ naran }}" placeholder="Naran" style="width: 296px"/></td>
					</tr>
					<tr>
						<td>Email:</td>
						<td><input name="email" type="text" value="{{ email }}" placeholder="Email" style="width: 296px"/></td>
					</tr>
					<tr>	
						<td>Mensajen:</td>
						<td><textarea name='mensajen' rows='10' placeholder="Mensajen" style="width: 500px">{{ mensajen }}</textarea></td>
					</tr>
					<tr>
						<td align="right"><input type='submit' value='Haruka'></td>
					</tr>
				</table>
			</form>
			
		


