
% rebase('template/base1.html')
<h3><b>User Foun</b></h3>
	<font color=#ff0000><BLINK>{{sala}}</BLINK></font>
	<form action="." method="POST">
	
		<table width="70%">
			<tr>
				<td>Username :</td>
				<td><input name="username" type="text" value="{{username}}"placeholder="Username"/></td>
			</tr>
			<tr>	
				<td>Password :</td>
				<td><input name="password" type="password" value="{{password}}"placeholder="Password"/></td>	
			</tr>
			<tr>
				<td>Naran Primeiru :</td>
				<td><input name="first_name" type="text" value="{{first_name}}"placeholder="First_name"/></td>
			</tr>
			<tr>	
				<td>Naran Apelidu :</td>
				<td><input name="last_name" type="text" value="{{last_name}}"placeholder="Last_name"/></td>	
			</tr>
			<tr>
				<td>Sexu :</td>
				<td><select name="gender"><option value="mane">Maneb |<option value="feto">Feto |</select></td>
			</tr>
			<tr>	
				<td>Loron Moris :</td>
				<td><select name="birthday">
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
					<option value="6">6</option>
					<option value="7">7</option>
					<option value="8">8</option>
					<option value="9">9</option>
					<option value="10">10</option>
					<option value="11">11</option>
					<option value="12">12</option>
					<option value="13">13</option>
					<option value="14">14</option>
					<option value="15">15</option>
					<option value="16">16</option>
					<option value="17">17</option>
					<option value="18">18</option>
					<option value="19">19</option>
					<option value="20">20</option>
					<option value="21">21</option>
					<option value="22">22</option>
					<option value="23">23</option>
					<option value="24">24</option>
					<option value="25">25</option>
					<option value="26">26</option>
					<option value="27">27</option>
					<option value="28">28</option>
					<option value="29">29</option>
					<option value="30">30</option>
					<option value="31">31</option>
					</select>
					<select name="select2">
					<option value="1">Janeiru</option>
					<option value="2">Febreiru</option>
					<option value="3">Marsu</option>
					<option value="4">Abril</option>
					<option value="5">Maiu</option>
					<option value="6">Junhu</option>
					<option value="7">Julho</option>
					<option value="8">Agutu</option>
					<option value="9">Sebtembru</option>
					<option value="10">Outubru</option>
					<option value="11">Novembru</option>
					<option value="12">Dezembru</option>
					</select>
					<select name="select3">
					<option value="2001">1970</option>
					<option value="2002">1971</option>
					<option value="2003">1972</option>
					<option value="2004">1973</option>
					<option value="2005">1974</option>
					<option value="2006">1975</option>
					<option value="2007">1976</option>
					<option value="2008">1977</option>
					<option value="2009">1978</option>
					<option value="2001">1979</option>
					<option value="2002">1980</option>
					<option value="2003">1981</option>
					<option value="2004">1982</option>
					<option value="2005">1983</option>
					<option value="2006">1984</option>
					<option value="2007">1985</option>
					<option value="2008">1986</option>
					<option value="2009">1987</option>
					<option value="2001">1988</option>
					<option value="2002">1989</option>
					<option value="2003">1990</option>
					<option value="2004">1991</option>
					<option value="2005">1992</option>
					<option value="2006">1993</option>
					<option value="2007">1994</option>
					<option value="2008">1995</option>
					<option value="2009">1996</option>
					<option value="2001">1997</option>
					<option value="2002">1998</option>
					<option value="2003">1999</option>
					<option value="2004">2000</option>
					<option value="2005">2001</option>
					<option value="2006">2002</option>
					<option value="2007">2003</option>
					<option value="2008">2004</option>
					<option value="2009">2005</option></select></td>	
			</tr>
			<tr>
				<td>Munisipiu :</td>
				<td><input name="district" type="text" value="{{district}}"placeholder="District"/></td>
			</tr>
			<tr>	
				<td>Email :</td>
				<td><input name="email" type="text" value="{{email}}"placeholder="Email"/></td>	
			</tr>
			<tr>
				<td>Numeru Telefone :</td>
				<td><input name="phone_number" type="text" value="{{phone_number}}"placeholder="Phone_number"/></td>
			</tr>
			<tr>
				<td><input type='submit' value='Haruka'></td>
				<td><input type='reset' value='reset'></td>
			</tr>
			<tr>
				<td><input type="checkbox">Remember me</td>
			</tr>
		</table>
	</form>

	